apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: amwaj-models-pvc
  namespace: production
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
